<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMapper">
    <select id="findUserById" resultType="com.bean.User">
        select * from batis_user
        <where>
            <choose>
                <when test="_parameter>0">
                    id=#{id}
                </when>
                <otherwise>
                    id=1
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findUsersByMultiCondition" resultType="com.bean.User">
        select * from batis_user
        <where>
            <if test="id!=null">
              id=#{id}
            </if>
            <if test="username!=null">
               AND username like #{username}
            </if>
        </where>
    </select>



</mapper>