<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        ">



    <bean id="service" class="service.AccountServiceImpl">
        <property name="dao" ref="dao"></property>
    </bean>
    <bean id="dao" class="Dao.AccountDaoImpl"></bean>

    <bean class="advice.MyAdvice" id="myadvice"></bean>
    <bean id="servcieProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="service"></property>
        <property name="interceptorNames" value="myadvice"></property>
    </bean>



</beans>