<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangdao.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.wangdao.bean.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="toName" jdbcType="VARCHAR" property="toname" />
    <result column="fromName" jdbcType="VARCHAR" property="fromname" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, toName, fromName, content, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangdao.bean.Message">
    insert into message (id, toName, fromName, 
      content, createtime)
    values (#{id,jdbcType=INTEGER}, #{toname,jdbcType=VARCHAR}, #{fromname,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangdao.bean.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toname != null">
        toName,
      </if>
      <if test="fromname != null">
        fromName,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toname != null">
        #{toname,jdbcType=VARCHAR},
      </if>
      <if test="fromname != null">
        #{fromname,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangdao.bean.Message">
    update message
    <set>
      <if test="toname != null">
        toName = #{toname,jdbcType=VARCHAR},
      </if>
      <if test="fromname != null">
        fromName = #{fromname,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangdao.bean.Message">
    update message
    set toName = #{toname,jdbcType=VARCHAR},
      fromName = #{fromname,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>